#include "resource.h"
IDI_MAIN_ICON               ICON    "res/logo.ico"
IDR_LOGO_PNG                RCDATA  "res/logo.png"
IDR_LOGO_SYMBOL             RCDATA  "res/symbol.png"

IDR_FONT_POPPINS            RCDATA "res/Poppins.ttc"
IDR_FONT_ROBOTO             RCDATA "res/Roboto.ttc"
IDR_FONT_D2CODING           RCDATA "res/D2Coding.ttc"
IDR_FONT_NOTOSANS           RCDATA "res/NotoSansKR.ttc"
IDR_FONT_CASCADIACODE       RCDATA "res/CascadiaCodeNF-SemiBold.ttf"