ffmpeg-master-latest-win64-lgpl-shared.zip
ffmpeg-master-latest-win64-lgpl-shared/
mpv-dev-x86_64-v3-20260302-git-af9c81f.7z
sqlite-amalgamation-3510200.zip
winuser.txt
wm_to_map.py
sqlite-amalgamation-3510200/
fonts/
*.ttc
*.exe